.label {
    -fx-padding: 5px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
    -fx-alignment: center;
}

#controlArea {
    -fx-spacing: 15px;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px 0px 0px 0px; /* TOP, RIGHT, BOTTOM, LEFT */
}

.player {
    /* Add a padding to the background color to give everything a little bit of space */
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    /* Add a transparent background for EACH player instead of difficult-to-handle borders */
    -fx-background-color: rgba(56, 80, 56, 0.5);
    -fx-background-radius: 20px;

    /* Otherwise the window will be unlimited high */
    -fx-max-height: 250px;
}

.player-text {
    /* Background is darker so make text white */
    -fx-text-fill: white;
}

.card {
    -fx-font-size: 18px;

    /* Add space between the cards by adding a padding to the background color */
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    /* Add a border, just looks better */
    -fx-border-color: darkgrey;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;

    /* Add a shodow for each card */
    -fx-effect: dropshadow(three-pass-box, rgb(56, 80, 56), 10, 0, 5, 5);

    /* Cards are white, so make the card white */
    -fx-background-color: white;
    -fx-background-radius: 10px;

    /* Make sure cards are reasonably resized (feature not yet available / also difficult to handle) */
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}

.table {
    /* Add a poker-table looking background */
    -fx-background-image: url("/images/background.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-overflow: hidden;
}

/* Scrollbar styling */
/* The increment and decrement button for the scrollbar */
.scroll-pane .increment-button,
.scroll-pane .decrement-button {
    -fx-background-color: rgb(241, 241, 241); /* lightgray color */
    -fx-border-color: rgb(241, 241, 241); /* lightgray color */
    -fx-padding: 5px 3px 5px 3px; /* TOP, RIGHT, BOTTOM, LEFT */
    -fx-border-insets: 0; /* JavaFX adds an inset by default */
    -fx-background-insets: 0;
}

.scroll-pane .increment-button:hover,
.scroll-pane .decrement-button:hover {
    -fx-background-color: derive(rgb(241, 241, 241), -20%); /* gray color */
    -fx-border-color: derive(rgb(241, 241, 241), -20%); /* gray color */
}

.scroll-pane .increment-button .increment-arrow {
    -fx-shape: "M 100 100 L 300 100 L 200 300 z" /* triangle upwards */
}

.scroll-pane .decrement-button .decrement-arrow {
    -fx-shape: "M 10,150 L 70,10 L 130,150 z" /* triangle downwards */
}

/* The track (under the scrollbar)  */
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: rgb(241, 241, 241); /* lightgray color */
    -fx-border-color: rgb(241, 241, 241); /* lightgray color */
}

/* The main scrollbar which we can drag around */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(193, 193, 193); /* gray color */
    -fx-background-insets: 0, 0, 0; /* removes the "padding" */
    -fx-background-radius: 0; /* remove the radius that JavaFX adds by default */
}

.scroll-pane .scroll-bar .thumb:hover,
.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: derive(rgb(193, 193, 193), -20%); /* darkgray color */
}
